html,
body {
  width: 100%;
  height: 100%;
  color: #0C2550;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: #0C2550;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.apk {
  color: #9AA0AA;
}

@media (max-width: 991px) {
  .apk {
    text-align: center;
    font-size: 15px;
  }
}

.apk a {
  display: inline-block;
  color: #9AA0AA;
}

@media (max-width: 991px) {
  .apk a {
    text-align: center;
    margin: 0 auto;
    background: #fff;
  }
}

section {
  padding: 96px 0;
}

section h2 {
  font-size: 48px;
}

.privacy {
  padding: 40px 0;
}

.privacy h2 {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 24px;
}

@media (max-width: 992px) {
  .single-page a {
    padding: 32px 18px;
    line-height: 38px !important;
  }
  #mainNav .navbar-nav > li > a {
    font-size: 15px !important;
  }
}

@media (min-width: 992px) {
  .come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 1.5s;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }
  @keyframes come-in {
    to {
      transform: translateY(0);
    }
  }
}

#mainNav.navbar-dark .navbar-nav
> li
a {
  color: #fff !important;
}

#mainNav.navbar-dark .dropdown-menu {
  background: #111 !important;
}

#mainNav.navbar-dark .nav-link:hover, #mainNav.navbar-dark .nav-link:focus {
  background: #111 !important;
}

#mainNav.navbar-dark .sublink:hover {
  background: rgba(255, 255, 255, 0.02) !important;
  color: #fff !important;
}

> ul {
  background-color: #111;
  box-shadow: 0 1px 6px #000;
}

> ul li > a {
  color: #fff !important;
}

> ul li > a:hover {
  background: black !important;
  border-radius: 6px;
}

#mainNav.navbar-dark .navbar-toggler {
  color: #fff;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  padding: 48px 0;
}

#mainNav .navbar-brand {
  color: #0C2550;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #051024;
}

#mainNav .navbar-brand {
  margin: 0 auto;
}

#mainNav .navbar-toggler {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 22px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-collapse {
  margin-top: 32px;
}

@media (max-width: 776px) {
  #mainNav .navbar-collapse .dropdown-menu {
    box-shadow: none !important;
  }
  #mainNav .navbar-collapse .sublink {
    text-align: center;
    width: 100% !important;
  }
}

#mainNav .navbar-nav > li {
  position: relative;
  margin: 0 2px;
}

#mainNav .navbar-nav > li > a {
  font-size: 19px !important;
  color: #0C2550 !important;
  font-family: 'Calibri', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
  letter-spacing: 0px;
}

#mainNav .navbar-nav > li > a.active {
  color: #0C2550 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > .dropdown-menu {
  z-index: 999;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: none;
}

#mainNav .navbar-nav > li > .dropdown-menu a {
  padding: 16px 24px;
  display: block;
  text-decoration: none;
  width: 200px;
  font-weight: 600;
}

#mainNav .navbar-nav > li > .dropdown-menu a:hover {
  border-radius: 6px;
  background: #EFF7FC;
  color: #0C2550;
}

#mainNav .navbar-nav > li:hover
> ul {
  display: inline-block;
}

#mainNav .nav-link {
  border-radius: 6px;
  padding: 6px 16px;
  transition: all 0.5s ease;
  text-align: center;
}

#mainNav .nav-link:hover {
  background: rgba(104, 187, 225, 0.1);
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #0C2550;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #0C2550;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #0C2550;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  color: #0C2550;
  background: white;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 60px;
  }
}

header.masthead .header-content {
  margin-bottom: 20px;
  text-align: center;
}

header.masthead .header-content h2 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 0px;
}

header.masthead .header-content h1 {
  font-size: 60px;
  font-weight: 700;
}

@media (max-width: 991px) {
  header.masthead .header-content h2 {
    font-size: 15px;
  }
  header.masthead .header-content h1 {
    font-size: 38px;
  }
}

@media (max-width: 991px) {
  header.masthead .header-content {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  header.masthead .cta li:first-child {
    float: left;
  }
  header.masthead .cta li {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 991px) {
  header.masthead .cta li {
    margin: 0 auto 32px 0;
    text-align: center;
    width: 50%;
    float: left;
  }
  header.masthead .cta li img {
    width: 150px;
    max-width: 100%;
  }
}

header.masthead .light-blue {
  color: #57BBE4;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .bluebig img {
  width: 100%;
}

@media (min-width: 992px) {
  header.masthead {
    height: 60vh;
    min-height: 530px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    text-align: left;
  }
  header.masthead .header-content h2 {
    font-size: 20px;
  }
  header.masthead .device-container {
    max-width: 100%;
    bottom: 0;
    position: absolute;
  }
}

section.features .flightning button {
  margin-bottom: 0px;
  padding: 12px 60px !important;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

.desktop a {
  padding: 16px 0px;
  border-radius: 40px;
  margin: 0 0;
  display: inline-block;
  text-decoration: underline;
}

#download.home {
  padding: 226px 0 40px 0 !important;
}

section.download {
  position: relative;
  padding: 226px 0;
  background: #fff;
}

section.download h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 48px;
  color: #0C2550;
}

section.download h2 strong {
  font-weight: 600;
}

@media (max-width: 991px) {
  section.download h2 {
    font-size: 24px;
  }
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 24px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 48px;
  }
}

section.features {
  background: #57BBE4;
  padding-bottom: 0px !important;
}

section.features button {
  border-radius: 300px;
  margin-top: 50px;
  margin-bottom: 86px;
  padding: 12px 60px !important;
  transition: all 0.5s ease;
}

section.features button:hover {
  background: #fff;
}

section.features button.btn-primary {
  background: #CCDDF9;
  border-color: #CCDDF9;
  color: #2F5FB3;
}

section.features button.btn-primary:hover {
  background: #2F5FB3;
  border-color: #2F5FB3;
  color: #CCDDF9;
}

section.features a {
  text-decoration: none;
  width: 100%;
}

section.features .btn-link {
  color: #fff;
}

@media (max-width: 991px) {
  section.features .section-heading {
    margin: 0 auto;
  }
}

section.features .section-heading {
  margin-bottom: 46px;
}

section.features .section-heading h2 {
  margin-top: 0px;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
}

section.features .section-heading strong {
  font-weight: 600;
}

@media (min-width: 992px) {
  section.features .section-heading h2 {
    padding: 0px;
  }
}

@media (max-width: 991px) {
  section.features .section-heading h2 {
    font-size: 36px;
  }
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  transition: all 0.5s ease;
  padding: 16px 16px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  box-shadow: 0px 6px 11px 0px rgba(30, 30, 30, 0.05);
}

@media (min-width: 992px) {
  section.features .device-container,
  section.features .feature-item {
    width: 95%;
  }
}

@media (max-width: 991px) {
  section.features .device-container,
  section.features .feature-item {
    width: 90%;
    margin: 0 auto;
  }
}

section.features .device-container:hover,
section.features .feature-item:hover {
  transform: scale(0.99);
}

section.features .device-container p,
section.features .feature-item p {
  margin: 0px;
}

@media (min-width: 992px) {
  section.features .fwhite .feature-item {
    box-shadow: 0px 2px 11px 3px rgba(36, 92, 141, 0.08);
  }
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  margin-bottom: 24px;
}

section.features .feature-item h3 {
  font-size: 20px;
  letter-spacing: 0px;
  color: white;
  font-weight: 600;
}

section.features .feature-item p {
  color: white;
  font-size: 14px;
}

section.features .app-preview img {
  width: 320px;
}

@media (max-width: 991px) {
  section.features .app-preview {
    display: none;
  }
}

section.features .feature-item.bottom {
  padding-bottom: 60px;
}

section.features .fwhite {
  background: white;
  padding: 96px 0 0 0;
}

section.features .fwhite .section-heading h2 {
  color: #0C2550;
}

section.features .fwhite .feature-item h3 {
  color: #0C2550;
}

section.features .fwhite .feature-item p {
  color: #0C2550;
}

section.features .fwhite .feature-item i {
  background: #0C2550;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.features .fwatchonly {
  background: #191919;
  padding: 96px 0 0 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}

section.features .fwatchonly .section-heading h2 {
  font-weight: bold;
  font-size: 64px;
}

@media (max-width: 991px) {
  section.features .fwatchonly .section-heading h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }
}

section.features .fwatchonly button {
  border-radius: 300px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 1px solid #fff;
}

section.features .fwatchonly button:hover {
  background: #fff;
  color: #111;
}

section.features .fwatchonly .lightning-wallet {
  text-align: center;
  padding-top: 60px;
}

section.features .fwatchonly .lightning-wallet img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

section.features .fwatchonly a {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 991px) {
  section.features .flightning
.section-heading h2 {
    font-size: 28px;
  }
}

.blog {
  background: #F7FBFF;
  z-index: 99999;
}

.blog h2 {
  font-weight: 600;
  font-size: 40px;
}

.blog .medium-widget {
  padding: 40px 0;
}

@media (max-width: 991px) {
  .blog .medium-widget-article__row {
    display: block;
  }
}

.blog .medium-widget-article__item {
  background: #fff;
  margin-right: 24px;
  box-shadow: 0px 2px 16px 0px rgba(20, 44, 66, 0.1);
  border-radius: 6px;
  padding: 0px;
  transition: all 0.5s ease;
}

.blog .medium-widget-article__item .medium-widget-article__image img {
  border-radius: 8px 8px 0px 0px;
}

.blog .medium-widget-article__item:hover {
  transform: scale(0.99);
  box-shadow: 0px 2px 30px 5px rgba(20, 44, 66, 0.1);
}

@media (max-width: 991px) {
  .blog .medium-widget-article__item {
    margin: 24px 0;
  }
}

.blog .medium-widget-article__item .medium-widget-article__content {
  padding: 16px 24px;
}

.blog .medium-widget-article__item .medium-widget-article__content a {
  color: #0C2550;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog .medium-widget-article__item:last-child {
  margin-right: 0px;
}

.blog p {
  margin-bottom: 16px;
}

.blog .subscribe {
  margin: 80px 0 0 0;
}

.opensource {
  margin: 180px 0 90px 0;
  box-shadow: 0px 2px 16px 0px rgba(20, 44, 66, 0.1);
  padding: 30px 32px;
  border-radius: 8px;
}

.opensource h3 {
  font-size: 28px;
  font-weight: bold;
}

.opensource p {
  margin: 0;
}

@media (max-width: 767px) {
  .opensource p {
    margin-bottom: 40px;
  }
}

.utils {
  transition: all 0.5s ease;
}

.utils a {
  display: inline-block;
  width: 100%;
  padding: 16px;
}

.utils a:hover {
  text-decoration: none;
}

.utils div {
  padding: 0;
  border-radius: 6px;
}

.utils div:hover {
  background: #F7FBFF;
}

.utils h5 {
  font-size: 20px;
  font-weight: 500;
}

.utils p {
  font-size: 15px;
  font-weight: 200;
  margin: 0px;
}

.utils img {
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .utils {
    text-align: left;
  }
  .utils img {
    float: left;
    margin-right: 16px;
    margin-bottom: 0px;
  }
}

.single-page {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.single-page a {
  padding: 32px 18px;
  line-height: 50px;
}

.features-page {
  background: #fff;
}

.features-page h1 {
  font-weight: 600;
  margin: 60px 0 40px 0;
}

.features-page h2 {
  font-weight: 600;
  margin: 60px 0 40px 0;
}

.features-page h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.features-page p {
  font-size: 1rem;
  padding: 8px 0;
  margin: 0;
  color: #81868E;
}

.features-page .feature-item {
  padding: 24px;
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 24px;
  border-radius: 6px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

.features-page .feature-item i {
  color: #57BBE4;
}

.features-page a:link, .features-page a:active, .features-page a:visited {
  text-decoration: underline;
}

.features-page .single {
  width: 100%;
  margin: 48px 0;
}

.features-page .single img {
  max-width: 300px;
  margin-bottom: 32px;
}

.features-page .single a:link, .features-page .single a:active, .features-page .single a:visited {
  text-decoration: none;
}

.features-page .tippin {
  width: 100%;
  margin: 48px 0;
}

.features-page .tippin .button-filled {
  margin: 0 auto;
}

.warning {
  background: #F4D096;
  color: #A46A09;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 11px;
  vertical-align: middle;
  margin-left: 8px;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  padding: 36px 0;
}

section.contact h2, section.contact h1 {
  font-size: 38px;
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: 600;
  color: #0C2550;
}

section.contact p {
  font-size: 16px;
  margin-bottom: 24px;
}

section.contact .people {
  margin-top: 96px;
}

section.contact .people img {
  width: 100px;
}

section.contact .people h3 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 24px;
}

section.contact .people a {
  color: #0C2550;
}

section.contact .people a:hover {
  color: #57BBE4;
}

section.contact .reach h3 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 96px;
}

section.contact .reach img {
  width: 168px;
}

section.contact .reach p {
  margin-top: 8px;
}

footer {
  padding: 96px 0;
  text-align: center;
  background: #fff;
  font-size: 12px;
  color: #AFBCD2;
}

footer a {
  color: #AFBCD2;
}

footer p {
  font-size: 14px;
  margin: 0;
  text-align: center;
  color: #0C2550;
}

footer h2 {
  font-weight: bold;
  text-align: center;
  color: #0C2550;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.fmenu a {
  text-decoration: none;
}

.foot-menu {
  background: rgba(104, 187, 225, 0.1);
  border-radius: 6px;
  padding: 4px 16px;
  font-size: 14px;
  color: #0C2550;
  display: inline-block;
  margin-bottom: 8px;
  margin: 0 4px;
}

.lightning .foot-menu {
  color: #ffffff;
}

.foot-menu:hover {
  background: rgba(104, 187, 225, 0.3);
}

#mc_embed_signup2 {
  clear: left;
  width: 100%;
}

#mc_embed_signup2 form {
  text-align: center;
  padding: 10px 0 10px 0;
}

.mc-field-group {
  display: inline-block;
}

#mc_embed_signup_scroll {
  justify-content: center !important;
  width: 90%;
  display: inline-flex;
}

#mc_embed_signup2 input.email {
  font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  border: none;
  box-shadow: 0px 2px 16px 0px rgba(20, 44, 66, 0.1);
  border-radius: 6px 0 0 6px;
  color: #0C2550;
  background-color: #fff;
  box-sizing: border-box;
  padding: 16px;
  display: inline-block;
  margin: 0;
  width: 90%;
  max-width: 350px;
  float: left;
  height: 53px;
}

#mc_embed_signup2 input.email::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AFBCD2;
  opacity: 1;
  /* Firefox */
}

#mc_embed_signup2 input.email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #AFBCD2;
}

#mc_embed_signup2 input.email::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #AFBCD2;
}

#mc_embed_signup2 input.email:active, #mc_embed_signup2 input.email:focus {
  outline: none;
}

#mc_embed_signup2 label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}

#mc_embed_signup2 .clear {
  display: inline-block;
}

/* positions button horizontally in line with input */
#mc_embed_signup2 .button {
  box-shadow: 0px 2px 16px 0px rgba(20, 44, 66, 0.1);
  font-size: 13px;
  border: none;
  border-radius: 0px 6px 6px 0;
  letter-spacing: .03em;
  color: #fff;
  background-color: #57BBE4;
  box-sizing: border-box;
  padding: 16px 32px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
  float: left;
  height: 53px;
}

@media (max-width: 991px) {
  #mc_embed_signup2 .button {
    padding: 16px 8px;
    width: auto !important;
  }
}

#mc_embed_signup2 .button:hover {
  background-color: #0C2550;
  cursor: pointer;
}

#mc_embed_signup2 div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup2 div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup2 #mce-error-response {
  display: none;
}

#mc_embed_signup2 #mce-success-response {
  color: #529214;
}

#mc_embed_signup2 label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}

@media (max-width: 768px) {
  #mc_embed_signup2 input.email {
    width: 100%;
    margin-bottom: 5px;
  }
  #mc_embed_signup2 .clear {
    display: block;
    width: 100%;
    float: left;
  }
  #mc_embed_signup2 .button {
    width: 100%;
    margin: 0;
  }
}

.bg-primary {
  background: #0C2550;
  background: -webkit-linear-gradient(#0C2550, #091b3a);
  background: linear-gradient(#0C2550, #091b3a);
}

.text-primary {
  color: #0C2550;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #0C2550;
  background-color: #0C2550;
}

.btn {
  border-radius: 6px;
  font-family: 'Calibri', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
  letter-spacing: 0px;
}

.navbar-toggler {
  border: none;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.dropdown-toggle::after {
  display: none;
}

.btn.focus, .btn:focus, .btn:hover {
  outline: 0;
  box-shadow: none;
  background: rgba(104, 187, 225, 0.1);
}

.lightning {
  background: #1E2A2F;
  color: #fff;
}

.lightning .single-page {
  background: rgba(255, 255, 255, 0.4);
}

.lightning #mainNav .navbar-nav > li > a, .lightning #mainNav .navbar-nav > li > a:focus {
  color: #fff;
}

.lighting2 {
  background: #2A383F;
}

.lighting2 h2, .howtostart h2, .lndhub h2 {
  font-size: 50px;
  font-weight: bold;
}

.first h2 {
  font-size: 34px;
}

@media (max-width: 992px) {
  .lightning-page h1 {
    font-size: 32px !important;
  }
  .lighting2 h2, .howtostart h2, .lndhub h2 {
    font-size: 42px !important;
  }
  .first h2 {
    font-size: 22px;
  }
}

.first {
  padding: 0;
}

.howtostart h2 {
  margin-bottom: 60px;
}

.howtostart h5 {
  font-size: 20px;
  font-weight: bold;
}

.howtostart p {
  font-size: 15px;
  font-weight: 300;
}

.lighting2 .app-preview img {
  width: 75%;
}

.lightning #mainNav {
  background: transparent;
}

.lightning a {
  color: #fff;
}

.lightning-page h1 {
  font-size: 50px;
  font-weight: 600;
}

.imghero img {
  width: 100%;
  max-width: 600px;
  height: 50%;
  margin: 0 auto;
}

.lcontent {
  margin-top: 40px;
  font-weight: 400;
  font-size: 15px;
}

.lcontent a {
  text-decoration: underline;
}

.lighting2 h4 {
  font-size: 24px;
  font-weight: 500;
}

.lighting2 p {
  font-size: 15px;
  font-weight: 200;
}

.done {
  background: #d9ead3;
  color: #38761d;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 11px;
  vertical-align: middle;
  margin-left: 8px;
}

.done.not {
  background: #c9daf8;
  color: #1155cc;
}

.lighting2 .desc {
  padding-top: 40px;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #f1be07, #f79056);
  color: white;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}

.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.how-it-works.row .col-2::after {
  content: '';
  position: absolute;
  border-left: 3px solid #f1be07;
  z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
  height: 100%;
  left: 50%;
  top: 0;
}

.how-it-works.row .col-2.last::after {
  height: 50%;
  left: calc(50% - 3px);
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid #f1be07;
  margin: 0;
  top: 17px;
  position: relative;
  max-width: none;
}

.timeline .col-2 {
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px solid #f1be07;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right {
  left: 50%;
  top: -50%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -50%;
}

.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.lndhub {
  background: #2A383F;
}

.lndhub p {
  margin: 36px 0;
}

.lndhub .logo {
  vertical-align: middle;
  display: inherit;
}

.lndhub img {
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
}

section.lndhub button {
  margin-top: 96px;
  padding: 12px 60px !important;
}

.lightning .download {
  background: transparent;
  padding: 280px 0;
}

.lightning section.download h2 {
  color: #ffffff;
}

header.masthead.lapps .header-content h1 {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 70px;
}

header.masthead.lapps .header-content p {
  font-size: 22px;
}

@media (max-width: 992px) {
  header.masthead.lapps .header-content h1 {
    font-size: 300%;
  }
  header.masthead.lapps .header-content p {
    font-size: 16px;
  }
}

.lapps2 {
  background: #57BBE4;
  position: relative;
  color: white;
  padding: 96px 0 147px 0;
}

.lapps2 h1 {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 70px;
}

.lapps2 p {
  font-size: 24px;
}

.lapps2 button {
  padding: 28px 98px;
  border: 5px solid #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin-top: 108px;
}

.lapps2 a {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .lapps2 h1 {
    text-align: center;
    font-size: 240%;
  }
  .lapps2 p {
    text-align: center;
    font-size: 18px;
  }
  .lapps2 button {
    margin: 24px auto 190px auto;
    text-align: center;
    padding: 20px 60px;
  }
  .lapps2 .bltk {
    text-align: center;
  }
}

.lappsimage {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.lappsimage img {
  width: 50%;
}

.lapps-features {
  background: #ffffff;
  position: relative;
  padding: 96px 0;
}

.lapps-features h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 90px;
}

.lapps-features p {
  font-size: 22px;
  margin-top: 32px;
}

.lapps-features img {
  width: 100%;
  margin: 0 auto;
}

.lappfooter {
  background: #ffffff;
}

body.watch-app {
  background: #fff;
}

.watch-app #mainNav {
  background: #fff;
}

header.masthead.watch-app {
  background: #fff;
}

header.masthead.watch-app .header-content {
  color: #312F2D;
}

header.masthead.watch-app .header-content h1 {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 48px;
}

header.masthead.watch-app .header-content p {
  font-size: 22px;
}

@media (max-width: 992px) {
  header.masthead.watch-app .header-content h1 {
    font-size: 300%;
  }
  header.masthead.watch-app .header-content p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .watch-app .wat {
    margin-bottom: 80px;
  }
}

.watch-app .cta {
  margin-top: 74px;
}

@media (max-width: 992px) {
  .watch-app .cta {
    margin-top: 32px;
    margin-bottom: 160px;
  }
}

@media (max-width: 992px) {
  .watch-app .cta li {
    width: 100% !important;
  }
}

.bighead3 {
  text-align: center;
}

.bighead3 img {
  width: 90%;
}

.watch-preview h1 {
  font-weight: 500;
  font-size: 36px;
  color: #312F2D;
}

@media (max-width: 992px) {
  .watch-preview .col1 {
    flex: 1;
    order: 2;
  }
  .watch-preview h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.watch-features .bighead3 {
  padding: 40px;
}

.watch-features .desc p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #0C2550;
}

@media (min-width: 991px) {
  .watch-features .desc2 {
    position: absolute;
    bottom: 160px;
  }
  .watch-features .desc3 {
    position: absolute;
    top: 60px;
  }
  .watch-features .desc4 {
    position: absolute;
    bottom: 220px;
  }
}

@media (max-width: 992px) {
  .watch-features .desc {
    text-align: center;
    margin: 24px 0;
  }
}

.watch-features .desc p.title {
  font-size: 24px;
  font-weight: 500;
  color: #2F5FB3;
}

.watchdown h2 {
  color: #312F2D !important;
}

.watchfooter {
  background: #fff;
}

.first .section-heading h1 {
  font-size: 88px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .first .section-heading h1 {
    font-size: 32px !important;
  }
}

.onchain-page .download {
  background: #EEFAFF;
  padding: 280px 0;
}

.onchain footer {
  background: #fff;
}

.onchain-page .lcontent {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px;
}

@media (max-width: 992px) {
  .onchain-page .lcontent {
    font-size: 13px !important;
    margin-top: 24px;
  }
}

.wallet-types {
  background: #EEFAFF;
  overflow: hidden;
}

.wallet-types h2 {
  font-weight: bold;
}

@media (max-width: 992px) {
  .wallet-types h2 {
    font-size: 32px !important;
  }
}

.slick-slide {
  width: 380px;
}

@media (max-width: 991px) {
  .slick-slide {
    width: 300px;
  }
}

.slick-slide img {
  width: 100%;
}

.slick-slide h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 0 16px;
}

.slick-slide p {
  font-size: 13px;
  padding: 0 16px;
}

.slick-arrow {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: none;
  padding: 4px 16px;
  min-width: 100px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.slick-arrow:hover {
  background: rgba(12, 37, 80, 0.6);
  color: #ffffff;
  cursor: pointer;
  outline: 0 none;
}

.slick-arrow :active {
  outline: 0 transparent !important;
  border: 0;
  box-shadow: none;
}

button:focus {
  outline: 0 transparent !important;
  border: 0;
  box-shadow: none;
}

.app-preview img {
  max-width: 100%;
}

.slider {
  padding-top: 84px;
  padding-bottom: 56px;
}

.slick-prev {
  left: 16px;
  top: 32px;
}

.slick-next {
  top: 32px;
  left: 144px;
}

.create-import h2 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .create-import h2 {
    text-align: center;
    font-size: 32px;
  }
  .create-import p {
    font-size: 13px !important;
  }
}

.create-import p {
  font-size: 16px;
}

@media (max-width: 992px) {
  .stuff .order1 {
    flex: 1;
    order: 1;
  }
  .stuff .order2 {
    order: 2;
  }
}

.watch-only {
  background: #212121;
  color: #fff;
}

.watch-only .single-page {
  background: rgba(255, 255, 255, 0.4);
}

.coldcard {
  margin: 96px 0;
}

.coldcard .video-container {
  margin-top: 70px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.coldcard .video-container iframe,
.coldcard .video-container object,
.coldcard .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94.9%;
}

.coldcard .downcold {
  margin: 40px 0 0px 0;
  box-shadow: 0px 2px 16px 5px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.05);
  padding: 30px 32px;
  border-radius: 8px;
}

.coldcard .downcold h3 {
  font-size: 28px;
  font-weight: bold;
}

.coldcard .downcold p {
  margin: 0;
}

@media (max-width: 767px) {
  .coldcard .downcold div {
    text-align: center !important;
  }
  .coldcard .downcold p {
    margin-bottom: 40px;
  }
}

.coldcard .downcold .bitten {
  background: #fff;
  color: #111;
  border-radius: 6px;
  padding: 8px 32px;
  display: inline-block;
  font-weight: 600;
  transition: all 0.5s ease;
}

.coldcard .downcold .bitten:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.8);
}

.only-features {
  background: #111111;
}

@media (max-width: 991px) {
  .only-features .app-preview {
    display: none;
  }
}

.only-features .feature-item {
  transition: all 0.5s ease;
  padding: 16px 16px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  box-shadow: 0px 6px 16px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.only-features .feature-item h4 {
  font-size: 20px;
  letter-spacing: 0px;
  color: white;
  font-weight: 600;
}

.only-features .feature-item p {
  color: white;
  font-size: 14px;
}

@media (min-width: 992px) {
  .only-features .feature-item {
    width: 95%;
  }
}

@media (max-width: 991px) {
  .only-features .feature-item {
    width: 90%;
    margin: 0 auto 24px auto;
  }
}

.only-features .feature-item:hover {
  transform: scale(0.99);
}

.only-features .feature-item p {
  margin: 0px;
}

.only-features h2, .howtodoit h2, .lndhub h2 {
  font-size: 50px;
  font-weight: bold;
}

.first h2 {
  font-size: 34px;
}

@media (max-width: 991px) {
  .only-page h1 {
    font-size: 32px !important;
  }
  .only-features h2, .howtostart h2, .lndhub h2 {
    font-size: 42px !important;
  }
  .first h2 {
    font-size: 22px;
  }
}

.first {
  padding: 0;
}

.howtostart h2 {
  margin-bottom: 60px;
}

.howtostart h5 {
  font-size: 20px;
  font-weight: bold;
}

.howtostart p {
  font-size: 15px;
  font-weight: 300;
}

.only-features .app-preview img {
  width: 75%;
}

.watch-only #mainNav {
  background: transparent;
}

.watch-only a {
  color: #fff;
}

.only-page h1 {
  font-size: 50px;
  font-weight: 600;
}

.imghero img {
  width: 100%;
  max-width: 600px;
  height: 50%;
  margin: 0 auto;
}

.only-page .lcontent {
  margin: 60px 0 40px 0;
  font-weight: 400;
  font-size: 15px;
}

.lcontent a {
  text-decoration: underline;
}

.only-features h4 {
  font-size: 24px;
  font-weight: 500;
}

.only-features p {
  font-size: 15px;
  font-weight: 200;
}

.bips {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 11px;
  vertical-align: middle;
  margin-left: 8px;
}

.only-features .desc {
  padding-top: 40px;
}

.explain {
  text-align: center;
  padding: 60px 0;
  margin-bottom: 88px;
  border-radius: 0px 16px 16px 0px;
}

@media (max-width: 991px) {
  .explain {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .explain {
    border-radius: 0 16px 16px 0;
    background: rgba(255, 255, 255, 0.1);
  }
}

@media (min-width: 992px) {
  .explain.last {
    border-radius: 16px 0px 0px 16px !important;
  }
}

.explain img {
  max-width: 220px;
}

@media (max-width: 991px) {
  .explain img {
    max-width: 45%;
  }
}

@media (min-width: 992px) {
  .explain img {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
  }
}

.explain .number {
  font-size: 70px;
  font-weight: bolder;
  color: #000000;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .explain .number {
    color: #ffffff;
  }
}

.explain.last .number {
  margin-right: 40px;
}

.explain p {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .explain p {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 768px) {
  .explain p {
    margin-top: 36px;
    font-size: 28px;
  }
}

.howtodoit h2 {
  margin-bottom: 120px;
}

@media (max-width: 991px) {
  .howtodoit h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
  }
}

.watch-only .download {
  background: #111111;
  padding: 280px 0;
}

@media (max-width: 991px) {
  .watch-only .download {
    padding: 96px 0 0 0;
  }
}

.watch-only section.download h2 {
  color: #ffffff;
}

.watch-only footer {
  background: #111111;
}

.watch-only .foot-menu {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.page-lndhub {
  background: #151F23;
  color: #fff;
}

.page-lndhub .first {
  padding: 86px 0 180px 0 !important;
  height: 80vh;
}

.page-lndhub .first .section-heading
img {
  margin: 16px 0;
  background: #1D282E;
  border-radius: 8px;
  padding: 12px 24px;
  width: 180px;
}

.page-lndhub .first h1 {
  font-size: 66px;
  margin-bottom: 24px;
}

.page-lndhub .first p {
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .lndhub-page h1 {
    font-size: 32px !important;
  }
  .lighting2 h2, .howtostart h2, .lndhub h2 {
    font-size: 42px !important;
  }
  .first h2 {
    font-size: 22px;
  }
}

.works {
  background: #1D282E;
}

.works p {
  margin: 100px 0;
}

.works h2 {
  font-weight: bold;
  font-size: 50px;
}

.works img {
  max-width: 100%;
  height: auto;
}

.where h2 {
  font-weight: bold;
  font-size: 50px;
}

.where .app-preview img {
  width: 75%;
}

.where .downhub {
  margin: 100px 0 0px 0;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.3);
  padding: 30px 32px;
  border-radius: 8px;
}

.where .downhub h3 {
  font-size: 28px;
  font-weight: bold;
}

.where .downhub p {
  margin: 0;
}

@media (max-width: 767px) {
  .where .downhub div {
    text-align: center !important;
  }
  .where .downhub p {
    margin-bottom: 40px;
  }
}

.where .downhub .bitten {
  background: #fff;
  color: #111;
  border-radius: 6px;
  padding: 8px 32px;
  display: inline-block;
  font-weight: 600;
  transition: all 0.5s ease;
}

.where .downhub .bitten:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.8);
}

.page-lndhub #mainNav {
  background: transparent;
}

.page-lndhub a {
  color: #fff;
}

.imghero img {
  width: 100%;
  max-width: 600px;
  height: 50%;
  margin: 0 auto;
  color: #1155cc;
}

.lighting2 .desc {
  padding-top: 40px;
}

.page-lndhub .download {
  background: transparent;
  padding: 280px 0;
}

.page-lndhub section.download h2 {
  color: #ffffff;
}

.lndhub-footer {
  background: transparent;
}

.lndhub-footer .foot-menu {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.local-top .section-heading h1 {
  font-size: 72px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .local-top .section-heading h1 {
    font-size: 42px !important;
  }
}

.local-top {
  padding: 0;
}

.local-top p {
  font-size: 22px;
}

@media (max-width: 991px) {
  .local-top p {
    font-size: 16px;
  }
}

.local-top .imghero img {
  max-width: 440px;
}

.local-top .badges {
  margin: 32px 0;
}

@media (min-width: 992px) {
  .local-top .badges .badge-link {
    margin: 0 8px;
  }
}

@media (max-width: 991px) {
  .local-top .badges .badge-link {
    margin: 8px 0;
    display: inline-block;
  }
}

.local-features {
  padding: 0;
}

.local-features h2 {
  color: #0070FF;
  font-size: 48px;
  font-weight: 600;
  margin: 120px 0 0 0;
  padding: 90px 0;
}

@media (max-width: 991px) {
  .local-features h2 {
    margin: 0;
  }
}

.local-features .tell div {
  border-radius: 8px;
  box-shadow: 0px 3px 18px 3px rgba(36, 92, 141, 0.08);
  padding: 48px 24px;
}

@media (min-width: 992px) {
  .local-features .tell div {
    margin: 0 0 180px 0;
    max-width: 31%;
    margin: 0 12px;
  }
  .local-features .tell div:last-child {
    margin-right: 0;
  }
  .local-features .tell div:first-child {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .local-features .tell div {
    margin: 0 0 24px 0;
  }
}

.local-features h4 {
  color: #0070FF;
  font-size: 20px;
  font-weight: 600;
}

.local-features p {
  color: #919EB3;
  font-size: 15px;
  margin: 0;
}

@media (max-width: 991px) {
  .local-features .localexplain div {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
  }
}

@media (max-width: 991px) {
  .local-features .localexplain .order1 {
    order: 1;
  }
}

@media (max-width: 991px) {
  .local-features .localexplain .order2 {
    order: 2;
  }
}

.local-features .localexplain p {
  display: block;
  margin: 32px 0;
}

.local-features .localexplain span {
  color: #062453;
  font-weight: bold;
  display: inline-block;
}

.local-features a:hover {
  text-decoration: none;
}

.local-features .hodlhodl {
  border-radius: 18px;
  margin: 200px 0 100px 0;
  padding: 80px 40px;
  background: #0d89fc;
  background: linear-gradient(90deg, #0d89fc 0%, #3eb5ef 100%);
}

@media (max-width: 991px) {
  .local-features .hodlhodl {
    margin: 100px 0 0px 0;
  }
}

.local-features .hodlhodl p {
  color: #fff;
  font-weight: 540;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 991px) {
  .local-features .hodlhodl p {
    text-align: center;
    margin-top: 32px;
  }
}

body.desktop-app {
  background: #fff;
}

.desktop-app #mainNav {
  background: #fff;
}

header.masthead.desktop-app {
  background: #fff;
}

.desktop-app .header-content {
  color: #000000;
}

.desktop-app .header-content h1 {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 18px;
}

.desktop-app .header-content p {
  font-size: 22px;
}

@media (max-width: 992px) {
  .desktop-app .header-content h1 {
    font-size: 250%;
  }
  .desktop-app .header-content p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .desktop-app .wat {
    margin-bottom: 80px;
  }
}

.desktop-app .cta {
  margin: 32px;
}

@media (max-width: 992px) {
  .desktop-app .cta li {
    width: 100% !important;
  }
}

.desktop-app .bighead3 {
  text-align: center;
}

.desktop-app .bighead3 img {
  width: 100%;
}

.desktop-app .local-features {
  padding: 0;
  margin-bottom: 90px;
}

.desktop-app .local-features h2 {
  color: #000000;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  padding: 90px 0;
}

@media (max-width: 991px) {
  .desktop-app .local-features h2 {
    margin: 0;
  }
}

.desktop-app .local-features .tell div {
  border-radius: 8px;
  box-shadow: 0px 3px 18px 3px rgba(36, 92, 141, 0.08);
  padding: 48px 24px;
}

@media (min-width: 992px) {
  .desktop-app .local-features .tell div {
    margin: 0 0 180px 0;
    max-width: 31%;
    margin: 0 12px;
  }
  .desktop-app .local-features .tell div:last-child {
    margin-right: 0;
  }
  .desktop-app .local-features .tell div:first-child {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .desktop-app .local-features .tell div {
    margin: 0 0 24px 0;
  }
}

.desktop-app .local-features h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

.desktop-app .local-features p {
  color: #666666;
  font-size: 15px;
  margin: 0;
}

@media (max-width: 991px) {
  .desktop-app .local-features .localexplain div {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
  }
}

@media (max-width: 991px) {
  .desktop-app .local-features .localexplain .order1 {
    order: 1;
  }
}

@media (max-width: 991px) {
  .desktop-app .local-features .localexplain .order2 {
    order: 2;
  }
}

.desktop-app .local-features .localexplain p {
  display: block;
  margin: 32px 0;
}

.desktop-app .local-features .localexplain span {
  color: #062453;
  font-weight: bold;
  display: inline-block;
}

.desktop-app .local-features a:hover {
  text-decoration: none;
}
