// Styling for the download section
section.download {
    position: relative;
    padding: 226px 0;
    background: #F5F5F5;
    h2 {
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 48px;
        color: $dark-blue;
        strong {
            font-weight: 600;
        }
    }
    @media (max-width: 991px) {
        h2 {
        font-size: 24px;
        }
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 48px;
        }
    }
    @media(max-width: 768px) {
        .desktop {
            display: none;
        }
    }
    .desktop a {
        background: rgba(0,0,0,0.1);
        padding: 16px 24px;
        border-radius: 40px;
        margin: 60px 0 0 0;
        display: inline-block;
        &:hover {
            text-decoration: none;
        }
    }

}