// Styling for the features section
section.features {
     background: $light-blue;
     padding-bottom: 0px !important;
     button {
        border-radius: 300px;
        margin-top: 50px;
        margin-bottom: 86px;
        padding: 12px 60px !important;
        transition: all 0.5s ease;
        &:hover {
            background: #fff;
        }
     }
     button.btn-primary {
        background: #CCDDF9;
        border-color: #CCDDF9;
        color: #2F5FB3;
        &:hover {
            background: #2F5FB3;
            border-color: #2F5FB3;
            color: #CCDDF9;
        }
     }
     a {
        text-decoration: none;
        width: 100%;
     }
     .btn-link {
        color: #fff;
     }
    @media(max-width: 991px) {
        .section-heading {
            margin: 0 auto;
        }
    }
    .section-heading {
        margin-bottom: 46px;
        h2 {
            margin-top: 0px;
            color: white;
            padding-left: 16px;
            padding-right: 16px;
        }
        strong {
            font-weight: 600;
        }
        @media(min-width: 992px) {
            h2 {
                padding: 0px;
            }
        }
        @media(max-width: 991px) {
            h2 {
                font-size: 36px;
            }
        }
        p {
            margin-bottom: 0;
        }
    }

    .device-container,
    .feature-item {
        transition: all 0.5s ease;
            padding: 16px 16px;
            background: rgba(255,255,255,.15);
            border-radius: 6px;
            box-shadow: 0px 6px 11px 0px rgba(30,30,30,.05);
        @media(min-width: 992px) {
            width: 95%;
        }
        @media(max-width: 991px) {
           width: 90%;
           margin: 0 auto;
        }
        &:hover {
            transform: scale(0.99);
        }

        p {
            margin: 0px;
        }
    }
    @media(min-width: 992px) {
        .fwhite{
            .feature-item {
                box-shadow: 0px 2px 11px 3px rgba(36,92,141,.08);
                
            }
        }
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        margin-bottom: 24px;
        h3 {
            font-size: 20px;
            letter-spacing: 0px;
            color: white;
            font-weight: 600;
        }
        p {
            color: white;
            font-size: 14px;
        }
    }
    .app-preview {
        img {
            width: 320px;
        }
    }
    @media(max-width: 991px) {
        .app-preview {
            display: none;
        }
    }
    .feature-item.bottom {
        padding-bottom: 60px;
    }
    .fwhite {
        background: white;
        padding: 96px 0 0 0;
        .section-heading h2 {
                color: $dark-blue;
        }
        .feature-item {
            h3 {
                color: $dark-blue;
            }
            p {
                color: $dark-blue;
            }
            i {
                background: $dark-blue;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .fwatchonly {
        background: #191919;
        padding: 96px 0 0 0;
        color: #fff;
        position: relative;
        overflow: hidden;
        .section-heading h2 {
            
            font-weight: bold;
            font-size: 64px;
            @media(max-width: 991px) {
                font-size: 50px;
                margin-bottom: 40px;
            }
        }
        button {
            border-radius: 300px;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            border: 1px solid #fff;
            &:hover {
                background: #fff;
                color: #111;
            }
        }

        .lightning-wallet {
            text-align: center;
            padding-top: 60px;
        }
        .lightning-wallet img {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    @media(max-width: 991px) {
        .flightning 
            .section-heading h2 {
                font-size: 28px;
            }
        }

}
.blog {
        background: #F7FBFF;
        z-index: 99999;
        h2 {
            font-weight: 600;
            font-size: 40px;
        }
        .medium-widget {
            padding: 40px 0;
        }
        .medium-widget-article__row {
            @media(max-width: 991px) {
                display: block;
            }

        }
        .medium-widget-article__item {
            background: #fff;
            margin-right: 24px;
            box-shadow: 0px 2px 16px 0px rgba(20,44,66,.1);
            border-radius: 6px;
            padding: 0px;
            transition: all 0.5s ease;
            .medium-widget-article__image img {
                border-radius: 8px 8px 0px 0px;
            }
            &:hover {
                transform: scale(0.99);
                box-shadow: 0px 2px 30px 5px rgba(20,44,66,.1);
            }
            @media(max-width: 991px) {
                margin: 24px 0;
            }
            .medium-widget-article__content {
                padding: 16px 24px;

                a {
                    color: $dark-blue;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }
        }
         .medium-widget-article__item:last-child {
            margin-right: 0px;
        }
        p {
            margin-bottom: 16px;
        }
        .subscribe {
            margin: 80px 0 0 0;
        }
    }
.opensource {
    margin: 180px 0 90px 0;
    box-shadow: 0px 2px 16px 0px rgba(20,44,66,.1);
    padding: 30px 32px;
    border-radius: 8px;
    h3 {
        font-size: 28px;
        font-weight: bold;
    }
    p {
        margin: 0;
    }
     @media(max-width: 767px) {
        p {
        margin-bottom: 40px;
        }
     }
}
.utils {
     transition: all 0.5s ease;

    a {
        display: inline-block;
        width: 100%;
        padding: 16px;
        &:hover {
            text-decoration: none;
        }
    }
    div {
        padding: 0;
        border-radius: 6px;
    }
    div:hover {
        background: #F7FBFF;
    }
    h5 {
        font-size: 20px;
        font-weight: 500;
    }
    p {
        font-size: 15px;
        font-weight: 200;
        margin: 0px;
    }
    img {
            margin-bottom: 16px;
        }
    @media(min-width: 992px) {
        text-align: left;
        img {
            float: left;
            margin-right: 16px;
            margin-bottom: 0px;
        }
    }
}

.single-page {
    background: rgba(0,0,0, 0.1);
    border-radius: 30px;
    a {
        padding: 32px 18px;
        line-height: 50px;
    }
}
.features-page {
    background: #fff;
    h1 {
        font-weight: 600;
        margin: 60px 0 40px 0;
    }
    h2 {
        font-weight: 600;
         margin: 60px 0 40px 0;
    }
    h3 {
        font-size: 1.1rem;
        font-weight: 600;
    }
    p {
        font-size: 1rem;
        padding: 8px 0;
        margin: 0;
        color: #81868E;
    }
    .feature-item {
        padding: 24px;
        width: 100%;
        border: 1px solid #eee;
        margin-bottom: 24px;
        border-radius: 6px;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        background-color: white;
        -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
        
        i {
            color: $light-blue;
        }
    }
    a:link, a:active, a:visited {
        text-decoration: underline;
    }
    .single {
        width: 100%;
        margin: 48px 0;
        img {
            max-width: 300px;
            margin-bottom: 32px;
        }
        a:link, a:active, a:visited {
            text-decoration: none;
        }
    }
    .tippin {
        width: 100%;
        margin: 48px 0;
        .button-filled {
            margin: 0 auto;
        }
    }
}
