// Styling for the features section
section.features {
     background: $light-blue;
     padding-bottom: 0px !important;
     button {
        margin-bottom: 96px;
        padding: 12px 60px !important;
     }
     button.btn-primary {
        background: #CCDDF9;
        border-color: #CCDDF9;
        color: #2F5FB3;
        &:hover {
            background: #2F5FB3;
            border-color: #2F5FB3;
            color: #CCDDF9;
        }
     }
     a {
        text-decoration: none;
        width: 100%;
     }
     .btn-link {
        color: #fff;
     }
    @media(max-width: 991px) {
        .section-heading {
            margin: 0 auto;
        }
    }
    .section-heading {
        margin-bottom: 46px;
        h2 {
            margin-top: 0px;
            color: white;
            padding-left: 16px;
            padding-right: 16px;
        }
        strong {
            font-weight: 600;
        }
        @media(min-width: 992px) {
            h2 {
                text-align: left;
            }
        }
        @media(max-width: 991px) {
            h2 {
                font-size: 36px;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        @media(min-width: 992px) {
            width: 100%;
            transition: all 0.5s ease;
            padding: 8px 16px;
            &:hover {
                background: rgba(0,0,0,.1);
                border-radius: 8px;
            }
        }
        @media(max-width: 991px) {
            padding-left: 16px;
            padding-right: 16px;
            i {
                margin-bottom: 16px;
                margin-right: 16px;
            }
        }
        p {
            margin: 0px;
        }
    }
    @media(min-width: 992px) {
        .fwhite{
            .feature-item:hover {
                background: rgba(0,0,0,.05);
                border-radius: 8px;
            }
        }
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        margin-bottom: 40px;
        h3 {
            font-size: 22px;
            letter-spacing: 0px;
            color: white;
            font-weight: 600;
        }
        p {
            color: white;
            font-size: 13px;
        }
        i {
            background: white;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 44px;
            float: left;
        }
        @media(min-width: 992px) {
            i {
            display: none;
            }
        }
    }
    .app-preview {
        img {
            width: 320px;
        }
    }
    @media(max-width: 991px) {
        .app-preview {
            display: none;
        }
    }
    .feature-item.bottom {
        padding-bottom: 60px;
    }
    .fwhite {
        background: white;
        padding: 96px 0 0 0;
        .section-heading h2 {
                color: $dark-blue;
        }
        .feature-item {
            h3 {
                color: $dark-blue;
            }
            p {
                color: $dark-blue;
            }
            i {
                background: $dark-blue;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .flightning {
        background: #29353C;
        padding: 96px 0 0 0;
        color: #fff;

        .section-heading h2 {
            font-size: 50px;
            font-weight: bold;
        }
        .section-heading h3 {
            font-size: 35px;
            color: #fff;
            padding: 0px 16px;
        }
        .feature-item {
            background: none;
        }
        .feature-item p {
            font-size: 18px;
        }
        .lightning-wallet {
            text-align: center;
            padding-top: 60px;
        }
        .lightning-wallet img {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    @media(max-width: 991px) {
        .flightning 
            .section-heading h2 {
                font-size: 28px;
            }
        .flightning 
            .section-heading h3 {
                font-size: 24px;
            }
        }
    

}
.navbar-collapse {
    @media(max-width: 992px) {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
.single-page {
    background: rgba(0,0,0, 0.1);
    border-radius: 50%;
    a {
        padding: 32px 18px;
        line-height: 50px;
    }
}
.features-page {
    background: #fff;
    h1 {
        font-weight: 600;
    }
    h2 {
        font-weight: 600;
    }
    h3 {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .feature-item {
        padding: 32px 0 32px 0;
    }
    a:link, a:active, a:visited {
        text-decoration: underline;
    }
    .single {
        width: 100%;
        margin: 48px 0;
        img {
            max-width: 300px;
            margin-bottom: 32px;
        }
        a:link, a:active, a:visited {
            text-decoration: none;
        }
    }
    .tippin {
        width: 100%;
        margin: 48px 0;
        .button-filled {
            margin: 0 auto;
        }
    }
}
