// Styling for the features section
section.features {
     background: $light-blue;
     padding-bottom: 0px !important;
    .section-heading {
        margin-bottom: 128px;
        h2 {
            margin-top: 0;
            color: white;
        }
        strong {
            font-weight: 600;
        }
        @media(min-width: 992px) {
            h2 {
                text-align: left;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        padding-top: 0px;
        padding-bottom: 146px;
        text-align: center;
        h3 {
            font-size: 22px;
            letter-spacing: 0px;
            color: white;
            font-weight: 600;
        }
        p {
            color: white;
            font-size: 13px;
        }
        i {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            background: white;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .feature-item.bottom {
        padding-bottom: 60px;
    }
    .fwhite {
        background: white;
        padding: 96px 0 0 0;
        .section-heading h2 {
                color: $dark-blue;
        }
    .feature-item {
        h3 {
            color: $dark-blue;
        }
        p {
            color: $dark-blue;
        }
        i {
            background: $dark-blue;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    }

}

