// Styling for the footer
footer {
    padding: 96px 0;
    text-align: left;
    background: #F5F5F5;
    font-size: 12px;
    color: #ccc;
    a {
        color: #ccc;
    }
    p {
        font-size: 14px;
        margin: 0;
        text-align: center;
        color: $theme-primary;
    }
    h2 {
        font-weight: bold;
        text-align: center;
        color: $theme-primary;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}
#mc_embed_signup2 {margin: 40px 0 96px 0;}
#mc_embed_signup2 form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup2 input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup2 label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup2 .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup2 .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: $light-blue; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup2 .button:hover {background-color: $dark-blue; cursor:pointer;}
#mc_embed_signup2 div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup2 div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup2 #mce-error-response {display:none;}
#mc_embed_signup2 #mce-success-response {color:#529214;}
#mc_embed_signup2 label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup2 input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup2 .clear {display: block; width: 100% }
    #mc_embed_signup2 .button {width: 100%; margin:0; }
}