// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    color: $dark-blue;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 96px 0;
    h2 {
        font-size: 48px;
    }
}
@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 20px;
    left: 20px;
    right: auto !important;
  }
  .single-page a {
      padding: 32px 18px;
      line-height: 38px !important;
  }
  #mainNav .navbar-nav > li > a {
    font-size: 15px !important;
  }

}
