// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    color: $dark-blue;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.apk {
    @media (max-width: 991px) {
    text-align: center;
    font-size: 15px;

     }
    a {
        padding: 8px 24px;
        background: rgba(0,0,0,.05);
        border-radius: 6px;
        display: inline-block;
        color: #9AA0AA;
        @media (max-width: 991px) {
            text-align: center;
            margin: 0 auto;
            background: #fff;
        }
    }
}
section {
    padding: 96px 0;
    h2 {
        font-size: 48px;
    }
}
.privacy {
    padding: 40px 0;
    h2 {
        font-weight: bold;
        font-size: 28px;
        padding-bottom: 24px;
    }
}
@media (max-width: 992px) {

  .single-page a {
      padding: 32px 18px;
      line-height: 38px !important;
  }
  #mainNav .navbar-nav > li > a {
    font-size: 15px !important;
  }

}
@media (min-width: 992px) {
  .come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 1.5s;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }

  @keyframes come-in {
    to { transform: translateY(0); }
  }
}