header.masthead.lapps .header-content {
	h1 {
		font-size: 72px;
		font-weight: 800;
		margin-bottom: 70px;
	}
	p {
		font-size: 22px;
	}
	@media (max-width: 992px) {
		h1 {
			font-size: 300%;
		}
		p {
			font-size: 16px;
		}

	}
}
.lapps2 {
	background: $light-blue;
	position: relative;
	color: white;
	padding: 96px 0 147px 0;
	h1 {
		font-size: 72px;
		font-weight: 800;
		margin-bottom: 70px;
	}
	p {
		font-size: 24px;
	}
	button {
		padding: 28px 98px;
		border: 5px solid #ffffff;
		font-size: 30px;
		font-weight: bold;
		margin-top: 108px;
	}
	a {
		color: #ffffff;
		text-decoration: underline;
	}
	@media (max-width: 992px) {
		h1 {
			text-align: center;
			font-size: 240%;
		}
		p {
			text-align: center;
			font-size: 18px;
		}
		button {
			margin: 24px auto 190px auto;
			text-align: center;
			padding: 20px 60px;
		}
		.bltk {
			text-align: center;
		}
	}
}
.lappsimage {
	position: absolute;
	bottom: 0px;
	left: 0px;
	img {
		width: 50%;
	}
}
.lapps-features {
	background: #ffffff;
	position: relative;
	padding: 96px 0;
	h1 {
		font-size: 48px;
		font-weight: bold;
		margin-top: 90px;
	}
	p {
		font-size: 22px;
		margin-top: 32px;
	}
	img {
		width: 100%;
		margin: 0 auto;
	}
}
.lappfooter {
	background: #ffffff;
}