.page-lndhub {
	background: #151F23;
	color: #fff;
    .first {
        padding: 86px 0 180px 0 !important;
        height: 80vh;
        .section-heading 
        img {
            margin: 16px 0;
            background: #1D282E;
            border-radius: 8px;
            padding: 12px 24px;
            width: 180px;
        }
        h1 {
            font-size: 66px;
            margin-bottom: 24px;
        }
        p {
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 992px) {
	.lndhub-page h1 {
		font-size: 32px !important;
	}
	.lighting2 h2, .howtostart h2, .lndhub h2 {
		font-size: 42px !important;
	}
	.first h2 {
		font-size: 22px;
	}
}
.works {
    background: #1D282E;
    p {
        margin: 100px 0;
    }
    h2 {
        font-weight: bold;
        font-size: 50px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
.where {
    h2 {
        font-weight: bold;
        font-size: 50px;
    }
    .app-preview img {
    	width: 75%;
    }
    .downhub {
        margin: 100px 0 0px 0;
        box-shadow: 0px 2px 8px 0px rgba(0,0,0,.5);
        background: rgba(0,0,0,0.3);
        padding: 30px 32px;
        border-radius: 8px;
        h3 {
            font-size: 28px;
            font-weight: bold;
        }
        p {
            margin: 0;
        }
        @media(max-width: 767px) {
            div {
                text-align: center !important;
            }
            p {
            margin-bottom: 40px;
            }
        }
        .bitten {
            background: #fff;
            color: #111;
            border-radius: 6px;
            padding: 8px 32px;
            display: inline-block;
            font-weight: 600;
            transition: all 0.5s ease;
            &:hover {
                text-decoration: none;
                background: rgba(255,255,255,0.8);
            }
        }
    }
}
.page-lndhub #mainNav {
	background: transparent;
}
.page-lndhub a {
	color: #fff;
}
.imghero img {
	width: 100%;
	max-width: 600px;
	height: 50%;
	margin: 0 auto;
	color: #1155cc;
}
.lighting2 .desc {
	padding-top: 40px;
}
.page-lndhub .download {
    background: transparent;
    padding: 280px 0;
}
.page-lndhub section.download h2 {
    color: #ffffff;
}
.lndhub-footer {
    background: transparent;
    .foot-menu {
        background: rgba(0,0,0,.1);
        color: #fff;
    }
}   