// Styling for the masthead
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: $dark-blue;
    background: white;
    .header-content {
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
            font-weight: 600;
        }
        h2 {
            font-weight: 400;
            font-size: 26px;
            margin-bottom: 0px;
        }
    }
    .light-blue {
        color: $light-blue;
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        bottom: 0;
        position: absolute;
        .bluebig img {
                width: 100%;
        }
    }
    @media (min-width: 992px) {
        height: 60vh;
        min-height: 530px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 100%;
        }
    }
}