// Styling for the masthead
header.masthead {
    position: relative;
    width: 100%;
    @media (min-width: 992px) {
        padding-top: 60px;
    }

    color: $dark-blue;
    background: white;
    .header-content {
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
            font-weight: 600;
        }
        h2 {
            font-weight: 400;
            font-size: 26px;
            margin-bottom: 0px;
        }
    }
     @media (max-width: 991px) {
        .header-content {
        margin-bottom: 40px;
        }
    }
     @media (min-width: 992px) {
        .cta li:first-child {
            float: left;
        }
    }
    @media (max-width: 991px) {
        .cta li:first-child {
        margin: 0 auto;
        text-align: center;
        float: auto;
        } 
        .cta li:first-child {
        margin-bottom: 24px;
        }
        .cta li img{ 
        width: 200px;
        }
    }
    .cta li {
        margin: 0 auto;
        text-align: center;
    }
    .light-blue {
        color: $light-blue;
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .bluebig img {
                width: 100%;
        }
    }
    @media (min-width: 992px) {
        height: 60vh;
        min-height: 530px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 100%;
            bottom: 0;
            position: absolute;
        }
    }
}