// Mixins

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin button-variant($color, $background, $border) {
    color: $color;
    border-color: $border;
    background-color: $background;
    &:focus,
    &.focus {
        color: $color;
        border-color: darken($border, 25%);
        background-color: darken($background, 10%);
    }
    &:hover {
        color: $color;
        border-color: darken($border, 12%);
        background-color: darken($background, 10%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        border-color: darken($border, 12%);
        background-color: darken($background, 10%);
        &:hover,
        &:focus,
        &.focus {
            color: $color;
            border-color: darken($border, 25%);
            background-color: darken($background, 17%);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            border-color: $border;
            background-color: $background;
        }
    }
    .badge {
        color: $background;
        background-color: $color;
    }
}

@mixin heading-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 200;
}

@mixin body-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

@mixin alt-font {
    font-family: 'Calibri', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
    letter-spacing: 0px;
}
