// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    background-color: white;
    padding: 48px 0;
    .navbar-brand {
        color: $theme-primary;
        @include heading-font;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .navbar-brand { 
        margin: 0 auto;
    }
    .navbar-toggler {
        display: none;
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-nav {
        > li {
            position: relative;
            > a {
                font-size: 19px;
                @include alt-font;
                &.active {
                    color: $theme-primary !important;
                    background-color: transparent;
                }
            }
            > a,
            > a:focus {
                color: $gray-darker;
            }
            > ul {
                display: none;
                position: absolute;
                top: 40px;
                right: 0;
                z-index: 999;
                background: #fff;
                box-shadow: 0 1px 6px #ccc;
                border-radius: 6px;
                list-style: none;
                padding: 0px;
                margin: 0px;
                li a {
                    padding: 16px 24px;
                    display: block;
                    text-decoration: none;
                    width: 200px;
                    font-weight: 600;
                    &:hover {
                            background: #EFF7FC;
                   
                    }
                }
            }
            
        }
        > li:hover
        > ul {
                display: inline-block;
            }
    }
    @media (min-width: 992px) {
        border-color: transparent;
        background-color: transparent;
        .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: $dark-blue;
        }
        &.navbar-shrink {
            border-color: fade-out($gray-darker, .9);
            background-color: white;
            .navbar-brand {
                color: $gray-darker;
                &:hover,
                &:focus {
                    color: $theme-primary;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: $gray-darker;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
