.watch-only {
	background: #212121;
	color: #fff;

}
.watch-only .single-page {
	background: rgba(255,255,255,0.4);
}
.coldcard {
	margin: 96px 0;
	.video-container {
		margin-top: 70px;
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px; height: 0; overflow: hidden;
		}
	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 94.9%;
	}
	.downcold {
		margin: 40px 0 0px 0;
	    box-shadow: 0px 2px 16px 5px rgba(0,0,0,.5);
	    background: rgba(255,255,255,0.05);
	    padding: 30px 32px;
	    border-radius: 8px;
	    h3 {
	        font-size: 28px;
	        font-weight: bold;
	    }
	    p {
	        margin: 0;
	    }
	    @media(max-width: 767px) {
	    	div {
	    		text-align: center !important;
	    	}
	        p {
	        margin-bottom: 40px;
	        }
	    }
	    .bitten {
	    	background: #fff;
	    	color: #111;
	    	border-radius: 6px;
	    	padding: 8px 32px;
	    	display: inline-block;
	    	font-weight: 600;
	    	transition: all 0.5s ease;
	    	&:hover {
	    		text-decoration: none;
	    		background: rgba(255,255,255,0.8);
	    	}
	    }
	}
}
.only-features {
	@media(max-width: 991px) {
        .app-preview {
            display: none;
        }
    }
	background: #111111;
	.feature-item {
		h4 {
            font-size: 20px;
            letter-spacing: 0px;
            color: white;
            font-weight: 600;
        }
        p {
            color: white;
            font-size: 14px;
        }
        transition: all 0.5s ease;
            padding: 16px 16px;
            background: rgba(255,255,255,.05);
            border-radius: 6px;
            box-shadow: 0px 6px 16px 5px rgba(0,0,0,.1);
            margin-bottom: 24px;
        @media(min-width: 992px) {
            width: 95%;
        }
        @media(max-width: 991px) {
           width: 90%;
           margin: 0 auto 24px auto;
        }
        &:hover {
            transform: scale(0.99);
        }
        p {
            margin: 0px;
        }
    }
}
.only-features h2, .howtodoit h2, .lndhub h2 {
	font-size: 50px;
	font-weight: bold;
}
.first h2 {
		font-size: 34px;
	}
@media (max-width: 991px) {
	.only-page h1 {
		font-size: 32px !important;
	}
	.only-features h2, .howtostart h2, .lndhub h2 {
		font-size: 42px !important;
	}
	.first h2 {
		font-size: 22px;
	}
}
.first {
		padding: 0;
	}
.howtostart h2{
	margin-bottom: 60px;
}
.howtostart h5 {
	font-size: 20px;
	font-weight: bold;
}
.howtostart p {
	font-size: 15px;
	font-weight: 300;
}
.only-features .app-preview img {
	width: 75%;
}
.watch-only #mainNav {
	background: transparent;
}
.watch-only a {
	color: #fff;
}
.only-page h1 {
	font-size: 50px;
	font-weight: 600;
}
.imghero img {
	width: 100%;
	max-width: 600px;
	height: 50%;
	margin: 0 auto;
}
.only-page .lcontent {
	margin: 60px 0 40px 0;
	font-weight: 400;
	font-size: 15px;
}
.lcontent a {
	text-decoration: underline;
}
.only-features h4 {
	font-size: 24px;
	font-weight: 500;
}
.only-features p {
	font-size: 15px;
	font-weight: 200;
}
.bips {
	background: rgba(255,255,255,.1);
	color: #ffffff;
	border-radius: 20px;
	padding: 4px 8px;
	font-size: 11px;
	vertical-align: middle;
	margin-left: 8px;
}
.only-features .desc {
	padding-top: 40px;
}
.explain {
    text-align: center;
    padding: 60px 0;
    margin-bottom: 88px;
    border-radius: 0px 16px 16px 0px;
    @media (max-width: 991px) {
        margin-bottom: 0px;
    }
	@media (min-width: 992px) {
	    border-radius: 0 16px 16px 0;
	    background: rgba(255,255,255,0.1);
	}
}
@media (min-width: 992px) {
	    .explain.last {
	        border-radius: 16px 0px 0px 16px !important;
	    }
	}
.explain img {
    max-width: 220px;
    @media (max-width: 991px) {
        max-width: 45%;
    }
    @media (min-width: 992px) {
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
    }
}
.explain .number {
    font-size: 70px;
    font-weight: bolder;
    color: #000000;
    @media (max-width: 768px) {
        color: #ffffff;
    }
    margin-left: 40px;
}
.explain.last .number {
    margin-right: 40px;
}
.explain p {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 0;
    @media (min-width: 992px) {
    margin: 0 0 0 40px;
    }
    @media (max-width: 768px) { 
        margin-top: 36px;
        font-size: 28px;
    }
}
.howtodoit h2 {
    margin-bottom: 120px;
    @media(max-width: 991px) {
        margin-bottom: 40px;
        text-align: center;
        font-size: 40px;
    }
}
.watch-only .download {
    background: #111111;
    padding: 280px 0;
    @media(max-width: 991px) {
        padding: 96px 0 0 0;
    }
}
.watch-only section.download h2 {
    color: #ffffff;
}
.watch-only footer {
    background: #111111;
}
.watch-only .foot-menu {
    background: rgba(255,255,255,.2);
    color: #ffffff;
}