# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: BlueWallet - Bitcoin Wallet for iOS and Android
email: bluewallet@bluewallet.io
description: >- # this means to ignore newlines until "baseurl:"
  Bitcoin wallet and Lightning wallet for iOS and Android extremely simple and powerful. Open source, Segwit and HD wallets, lightning network, plausible deniability, replace by fee and full encryption
baseurl: "" # the subpath of your site if applicable, e.g. /blog
url: "https://bluewallet.io" # the base hostname & protocol for your site, e.g. https://example.com

# Permalink URLs structure, for permalink style options see: https://jekyllrb.com/docs/permalinks/
permalink:          /:title/


# Site logo # e.g. logo.png, upload logo image file to /uploads/ folder
logo: logo-bluewallet.svg   

# Enable section IDs in frontmatter, useful for identifying current page
# (used as a hook for styling etc)
section: true

# set to 'true' to enable Netlify CMS (/admin) in production builds
netlifycms: true

# set to 'true' to enable Google Analytics tracking code in production builds
analytics: true

# Google analytics code, get your code here https://www.google.com/analytics/
google_analytics: UA-120614437-1


# Compress HTML (in liquid via layouts/compress.html)
compress_html:
  clippings: all

# Kramdown options
kramdown:
  # Prevent IDs from being added to h1-h6 tags
  auto_ids: false

plugins:
  - 'jekyll-seo-tag'
  - 'jekyll-paginate'


# Include in processing (e.g. Netlify directives)
# Uncomment before use

#include:
#  - _redirects
#  - _headers

# Exclude from processing.
# The following items will not be processed.
exclude:
  - README.md
  - LICENSE.txt
  - netlify.toml
  - feed.xml
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
           

navbar:
    sticky:         false
    search:         false
  
# Default author settings
author:
    name:           Nuno
    title:          Product & UX  
    avatar:         nuno.png

# Author settings, displayed on post and doc pages if front matter references author name e.g. author: peter
authors:
    nuno:
      name:         Nuno
      title:        Product & UX  
      avatar:       nuno.png
    igor:
      name:         Igor
      title:        Engineering     
      avatar:       igor.png
    marcos:
      name:         Marcos
      title:        Engineering    
      avatar:       marcos.png
    

# Social icons displayed in footer
social:
    email:
    website:
    facebook:       
    flickr:
    dribbble:
    github:          https://github.com/bluewallet/bluewallet
    googleplus:
    instagram:      
    linkedin:
    pinterest:
    twitter:         https://twitter.com/@bluewalletio
    vimeo:          
    youtube:
    telegram:        https://t.me/bluewallet

# Share button
share:
    post:           false # Display share buttons on a post page
    doc:            false # Display share buttons on a doc page
    twitter:        false # Enable by adding Twitter handle 
    facebook:       false # Enable by setting true (Facebook handle not required)

# Default footer image settings
footer:
    copyright:      Made somewhere on the planet earth.

# Disqus comments shortname, requires Disqus account https://disqus.com/
disqus:
    shortname:      # 1234


# Number of posts displayed on blog page
paginate:           10

# Blog path
paginate_path:      "/blog/:num/"

# Path to post content assets directory i.e post images, pdfs etc
uploads:            /uploads/

# Build settings
markdown:           kramdown
highlighter:        rouge

sass:
  style:            compressed

collections:
  docs:
    output:         true
  faqs:
    output:         false
  changelogs:
    output:         false

# Defaults
defaults:
  # _posts
  - scope:
      path:         ""
      type:         posts
    values:
      layout:       post
  # _docs
  - scope:
      path:         ""
      type:         docs
    values:
      layout:       doc