<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-h2">About</h2>
    <p class="uk-text-lead">The BlueWallet project born out of the ashes of the 2017 bull-run. With the frustration of not finding a wallet for our Bitcoin needs. Where we could have a Bitcoin only wallet and full control of the transactions. At the time, there wasn't a single Bitcoin wallet available for iOS that was bitcoin-only, supported Segwit and where we could have fee control. So we decided to build it.</p>
    <br />
    <p class="uk-text-lead">Our commitment is to build the best Bitcoin wallet we can. With strong focus on open source fundations, self-sovereign principles, decentralization and the Cypherpunk's Manifesto. We will iterate slowly, we will not build it in one day, but we will get there.</p>
  </div>
</div>
<div class="uk-section">
<div class="uk-container">
  <h2 class="uk-h2">Who are we</h2>
    <p class="uk-text-lead">We are a collective of developers and designers focused on bringing tools to self-sovereignity, personal property, security and privacy.</p><br />
      <p class="uk-text-lead">Reach out, we will appreciate your feedback.</p>
  </div>
</div>
<div class="uk-section">
  <div class="uk-container uk-text-center">
    <h2 class="uk-h2">Contact us</h2>
      <ul class="uk-list">
        <li>bluewallet@bluewallet.io</li>
      </ul>
  </div>
</div>