<div class="uk-section">
   <div class="uk-container uk-text-center uk-animation-slide-bottom-medium">
      <h2 class="uk-h2 uk-margin-remove-bottom uk-text-lead">BlueWallet for MacOS</h2>
      <h1 class="uk-heading-hero uk-margin-remove-top">Desktop Wallet</h1>
      <a href="https://apps.apple.com/app/bluewallet-bitcoin-wallet/id1376878040" target="_blank">
        <img src="{{ site.uploads | absolute_url }}/mac-store-badge.svg" alt="download bitcoin wallet for desktop">
      </a>
      
        <p class="uk-text-lead uk-margin-medium-bottom uk-margin-medium-top">Direct download available with <a href="https://github.com/BlueWallet/BlueWallet/releases" target="_blank">.dmg</a> or <a href="https://formulae.brew.sh/cask/bluewallet" target="_blank">Homebrew</a></p>
      
      <div class="uk-animation-slide-bottom-medium">
      <img src="{{ site.uploads | absolute_url }}/desktop-bitcoin-wallet.png" alt="download bitcoin wallet for desktop">
      </div>   
   </div>
</div>

<div class="uk-section">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Features</h1>
        <div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top uk-grid-small" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">HWW integration</h3>
                    <p>Easily connect to your hardware wallet through watch-only and PSBTs support.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Plausible Deniability</h3>
                    <p>Create multiple storages or fake ones in case of a forced disclosure.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Multiple Wallets</h3>
                    <p>Support for different wallet types. Like Bip84/49/44, electrum, legacy, etc.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Full node</h3>
                    <p>Full node connection through ElectrumX, Electrs or Electrum Personal Server.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Transactions control</h3>
                    <p>Easily Bump, Cancel or do Batch transactions. With RBF and CPFP.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Notifications</h3>
                    <p>With push notifications for pending and confirmed transactions.</p>
                </div>
            </div>
        </div>
  </div>
</div>