<div class="uk-section-large uk-scrollspy-inview uk-animation-slide-bottom-medium">
    <h1 class="uk-article-title uk-text-center">Radically Simple 👩‍🎤 Extremely Powerful</h1>
    <p class="uk-text-lead uk-text-center">A freedom and self-sovereign tool, disguised as a cute little Blue app on your pocket</p>
</div>

<div class="uk-section uk-scrollspy-inview uk-animation-slide-bottom-medium">
   <div class="uk-container{{container}}">
      <div class="uk-child-width-1-2@m uk-grid-match uk-margin-medium-top" data-uk-grid>
         <div>
            <div class="uk-card">
               <h2 class="uk-h2 uk-margin">Multiple Wallets</h2>
               <p class="uk-text-lead">With a multiple wallet architecture to allow maximum flexibility. BlueWallet aims to support the highest wallet standards. 
Besides Bitcoin Wallets, Watch-only, Multisig Vaults and Lightning. Blue can import most wallet standards including Electrum and Bread wallets.</p>
            </div>
         </div>
         <div>
            <div class="uk-card features uk-text-center">
               <video loop autoplay poster playsinline preload="auto" muted alt="multi bitcoin wallets">
                  <source src="{{ site.uploads | absolute_url }}/features/multi-wallet.mp4" type="video/mp4">
               </video>
             </div>
         </div>

      </div>
      <div class="uk-child-width-1-2@m uk-grid-match uk-margin-xlarge flex" data-uk-grid>
         <div class="second-mobile">
             <div class="uk-card features uk-text-center">
               <video loop autoplay poster playsinline preload="auto" muted alt="watch-only wallet">
                  <source src="{{ site.uploads | absolute_url }}/features/watch-only.mp4" type="video/mp4">
               </video>
             </div>
         </div>
         <div class="first-mobile">
            <div class="uk-card">
               <h2 class="uk-h2 uk-margin">Watch-only</h2>
               <p class="uk-text-lead">Watch-only wallets allows you to keep an eye on your cold storage or paper wallet without touching your private key. Easily import your public address, xpub or ypub and watch it from your app without moving anything.</p>
            </div>
           
         </div>
         
      </div>
      <div class="uk-child-width-1-2@m uk-grid-match uk-margin-medium-top" data-uk-grid>
         <div>
            <div class="uk-card">
               <h2 class="uk-h2 uk-margin">Multisig Vault</h2>
               <p class="uk-text-lead">The most secure Bitcoin technology. Multisig is like a vault, where multiple keys are needed to spend Bitcoin.
Recommended for cold storage and large amounts.</p>
            </div>
         </div>
         <div>
            <div class="uk-card features uk-text-center">
               <video loop autoplay poster playsinline preload="auto" muted alt="multisig wallet">
                  <source src="{{ site.uploads | absolute_url }}/features/multisig.mp4" type="video/mp4">
               </video>
             </div>
         </div>
      </div>
   </div>
</div>

<div class="uk-container{{container}}">
   <hr class="uk-margin-large">
</div>

<div class="uk-section-large">
   <div class="uk-container{{container}}">
      <div class="uk-child-width-1-2@m uk-grid-match uk-margin-medium-top" data-uk-grid>
         <div>
            <div class="uk-card">
               <div class="features uk-text-center">
                  <img src="{{ site.uploads | absolute_url }}/features/lightning.png" alt="lightning wallet">
               </div>
               <h2 class="uk-h3 uk-margin">Lightning Wallets</h2>
               <p class="uk-text-meta">with zero configuration. You can use our hosted Lightning wallets or connect to your own node. Allows you to seamlessly use the Lightning Network, without the need to open channels, be online or operate and mantain a node.</p>
            </div>
         </div>
        <div>
            <div id="bump" class="uk-card">
               <div class="features uk-text-center">
                  <img src="{{ site.uploads | absolute_url }}/features/fees.png" alt="fee estimation">
               </div>
               <h2 class="uk-h3 uk-margin">Fee & Transactions control</h2>
               <p class="uk-text-meta">Provides you a fee estimation targeting confirmations in 10m, 3h or 1 day. With real time calculation on how much to spend. Ability to Bump and Cancel sent transactions with "Replace-by-fee" (RBF) or with "Child-pays-for-parent" (CPFP).</p>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="uk-container{{container}}">
   <hr class="uk-margin-large">
</div>

<div class="uk-section">
   <div class="uk-container{{container}}">
      <div class="uk-grid-match uk-margin-medium-top" data-uk-grid>
         <div class="uk-width-1-5@m"></div>
         <div class="uk-width-expand@m">
            <div id="pdeniability" class="uk-card uk-text-center">
              
               <h2 class="uk-h2 uk-margin">Plausible deniability</h2>
               <p class="uk-text-lead">A feature thinking about your personal security. BlueWallet allows you to define a different password which will decrypt a "fake" wallet set up. For any situation where you are forced to disclose your access or for when you don't want to show your real wallet.</p>
                <div class="features uk-inline uk-text-center uk-margin-large">
                  <img class="special" src="{{ site.uploads | absolute_url }}/features/pb.png" alt="lightning wallet">
               </div>
            </div>
         </div>
         <div class="uk-width-1-5@m"></div>
      </div>
   </div>
</div>

<div class="uk-container{{container}}">
   <hr class="uk-margin-large">
</div>


<div class="uk-section">
   <div class="uk-container{{container}}">
      <div class="uk-child-width-1-3@m uk-grid-match uk-margin-medium-top" data-uk-grid>
         <div>
            <div id="notifications" class="uk-card">
               <div class="features uk-text-center">
                  <img src="{{ site.uploads | absolute_url }}/features/notifications.png" alt="lightning wallet">
               </div>
               <h2 class="uk-h3 uk-margin">Notifications</h2>
               <p class="uk-text-meta">We have developed Ground Control. A push notification service for bitcoin wallets that allows you to have mobile and desktop push notifications or to run your own push notification server.</p>
            </div>
         </div>
         <div>
            <div class="uk-card">
               <div class="features uk-text-center">
                  <img src="{{ site.uploads | absolute_url }}/features/recover.png" alt="fee estimation">
               </div>
               <h2 class="uk-h3 uk-margin">Recover wallets</h2>
               <p class="uk-text-meta">A “magical form” where you can try to import whatever you got. It will do its best to understand the format and import your wallet into your BlueWallet app.</p>
            </div>
         </div>
          <div>
            <div class="uk-card">
               <div class="features uk-text-center">
                  <img src="{{ site.uploads | absolute_url }}/features/batch.png" alt="fee estimation">
               </div>
               <h2 class="uk-h3 uk-margin">Batch Transactions</h2>
               <p class="uk-text-meta">Send multiple transactions in one batch. This is useful if you more than one transaction and you want to spend less fees. All your transactions will be batched in a single transaction fee, making it less expensive.</p>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="uk-container{{container}}">
   <hr class="uk-margin-large">
</div>


<div class="uk-section-large">
  <div class="uk-container{{container}}">
      <div class="uk-margin-xlarge">
         <h2 class="uk-h1 uk-text-center">Plus so much more</h2>
      </div>
        <div class="uk-child-width-1-3@m uk-text-center uk-margin-medium-top uk-grid-small" uk-grid>
         {% for item in site.data.all_features %}
       
            <div class="uk-margin-bottom">
               <div class="uk-card uk-text-left">
                  {% if item.title %}
                  <h4 class="uk-h4 uk-margin">{{ item.title }}</h4>
                  {% endif %}
                  {% if item.desc %}
                  <p class="uk-text-meta">{{ item.desc }}</p>
                  {% endif %}
               </div>
            </div>
         {% endfor %}
        </div>
   </div>
</div>

<div class="uk-container{{container}}">
   <hr class="uk-margin-large">
</div>

<div class="uk-section">
   <div class="uk-container{{container}}">
      <div class="uk-grid-match uk-margin-medium-top" data-uk-grid>
         <div class="uk-width-1-5@m"></div>
         <div class="uk-width-expand@m">
            <div class="uk-card uk-text-center">
              
               <h2 class="uk-h2 uk-margin">Multi-language</h2>
               <p class="uk-text-lead">BlueWallet supports more than 30 languages, including Chinese, Japanese, Portuguese, Spanish, Indonesian, Russian, Ukranian, Italian, German, Swedish, Norwegian, French, Danish, Turkish, and more.</p>
                <a class="uk-button uk-button-primary uk-button-large uk-margin-large uk-text-bold" href="https://www.transifex.com/bluewallet/bluewallet/" target="_blank">Join the translation community</a>
            </div>
         </div>
         <div class="uk-width-1-5@m"></div>
      </div>
   </div>
</div>
<div class="uk-container{{container}}">
   <hr class="uk-margin-large">
</div>