<div class="uk-section uk-padding-remove-vertical section-hero uk-position-relative uk-scrollspy-inview uk-animation-slide-bottom-medium">
   <div class="uk-container">
      <div class="uk-text-center uk-grid-match" uk-grid>
          <div class="uk-width-expand@m uk-grid-match">
              <div class="uk-card uk-card-small uk-grid-match">
                <div class="uk-margin-auto-vertical">
                <h1 class="uk-heading-primary uk-text-left@m uk-text-center uk-margin-medium-top">Radically Simple & Powerful Bitcoin Wallet</h1>
                  <div class="uk-grid-match uk-grid-small" uk-grid>
                    <div class="uk-text-left@m uk-width-auto@m uk-width-1-2@s">
                      <a href="https://itunes.apple.com/app/bluewallet-bitcoin-wallet/id1376878040" target="_blank">
                        <img class="bounce" src="{{ site.uploads | absolute_url }}/app-store-badge-blue.svg" alt="download bitcoin wallet for ios">
                      </a>
                    </div>
                    <div class="uk-padding-remove-left@m uk-text-left@m uk-width-auto@m uk-width-1-2@s">
                      <a href="https://play.google.com/store/apps/details?id=io.bluewallet.bluewallet" target="_blank">
                        <img class="bounce" src="{{ site.uploads | absolute_url }}/play-store-badge-blue.svg" alt="download bitcoin wallet for android">
                       </a>
                    </div>
                  </div>
                  <p class="uk-padding uk-padding-remove-horizontal uk-text-lead uk-text-left@m uk-text-center@s">Direct download available for <a href="https://github.com/BlueWallet/BlueWallet/releases" target="_blank">android</a> and <a href="{{ site.baseurl }}/desktop-bitcoin-wallet">Desktop</a></p>
              </div>
            </div>
          </div>
        <div class="uk-width-1-3@m">
              <div class="uk-card uk-card-small merda">
                <div data-offset="5" class="poster">
                  <div class="shine"></div>
                  <div data-offset="3" class="layer-4"></div>
                </div>
              </div>
          </div>
      </div>
   </div>
</div>