<div class="uk-section section-home-feedback">
  <div class="uk-container">
    <div class="section-home-header">
      <h2 class="uk-h1 uk-margin-remove-top">What people are saying</h2>
      <p class="uk-text-lead uk-margin-small-top">From the Bitcoin community, around the world.</p>
    </div>

    <div class="feedback-slider-outer">
      <div class="feedback-track" id="feedback-track">
        {% include feedback-slide.html name="jack" alt="Feedback from Jack" height="283" %}
        {% include feedback-slide.html name="elon" alt="Feedback from Elon" height="431" %}
        {% include feedback-slide.html name="africa" alt="Feedback from Africa" height="391" %}
        {% include feedback-slide.html name="stephan" alt="Feedback from Stephan" height="279" %}
        {% include feedback-slide.html name="mrhodl" alt="Feedback from Mr Hodl" height="213" %}
        {% include feedback-slide.html name="bitcoinheiros" alt="Feedback from Bitcoinheiros" height="204" %}
        {% include feedback-slide.html name="okin" alt="Feedback from Okin" height="345" %}
        {% include feedback-slide.html name="wicked" alt="Feedback from Wicked" height="423" %}
        {% include feedback-slide.html name="jack" alt="" height="283" hidden=true %}
        {% include feedback-slide.html name="elon" alt="" height="431" hidden=true %}
        {% include feedback-slide.html name="africa" alt="" height="391" hidden=true %}
        {% include feedback-slide.html name="stephan" alt="" height="279" hidden=true %}
        {% include feedback-slide.html name="mrhodl" alt="" height="213" hidden=true %}
        {% include feedback-slide.html name="bitcoinheiros" alt="" height="204" hidden=true %}
        {% include feedback-slide.html name="okin" alt="" height="345" hidden=true %}
        {% include feedback-slide.html name="wicked" alt="" height="423" hidden=true %}
      </div>
    </div>
  </div>
</div>
