{% if include.img contains 'http' %}
  {% assign img_src = include.img %}
{% else %}
  {% assign img_src = site.uploads | append: include.img | relative_url %}
{% endif %}
{% if include.lightbox == 'true' %}
<figure data-uk-lightbox="animation: slide" class="{{ include.class }}">
    <a class="uk-inline" href="{{ img_src }}"{% if include.caption %} caption="{{ include.caption }}"{% endif %}>
        <img src="{{ img_src }}"{% if include.alt %} alt="{{ include.alt }}"{% endif %}>
        <div class="uk-position-center">
            <span data-uk-overlay-icon></span>
        </div>
    </a>
    {% if include.caption %}<figcaption data-uk-grid class="uk-flex-right"><span class="uk-width-auto">{{ include.caption }}</span></figcaption>{% endif %}
</figure>
{% else %}
<figure class="{{ include.class }}">
    <img src="{{ img_src }}"{% if include.alt %} alt="{{ include.alt }}"{% endif %}>
    {% if include.caption %}<figcaption data-uk-grid class="uk-flex-right"><span class="uk-width-auto">{{ include.caption }}</span></figcaption>{% endif %}
</figure>
{% endif %}
