<div class="uk-section">
  <div class="uk-container uk-text-center uk-animation-slide-bottom-medium">
     <h1 class="uk-heading-hero">Local Trader</h1>
     <p class="uk-text-lead">Buy Bitcoin p2p while controlling your funds</p>
    <div class="uk-container-medium imghere uk-padding-remove@s uk-padding-remove-bottom uk-animation-slide-bottom-medium">
      <img class="localtrader" src="{{ site.uploads | absolute_url }}/localtrader-hero.png" alt="p2p local trader bitcoin">
    </div>
  </div>
</div>

<div class="uk-section-medium uk-margin-large-bottom">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Highlights</h1>
        <div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top uk-grid-small" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Buy Bitcoin</h3>
                    <p>Accept offers from sellers and buy directly from fellow users.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Search offers</h3>
                    <p>You can search by location, payment method, currency and offer type.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Manage contracts</h3>
                    <p>Once an offer is accepted a “contract” is created and can be viewed in the app.</p>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="uk-section-large">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">How it works</h1>
        <div class="uk-child-width-1-4@m uk-grid-match uk-text-center uk-grid-small" data-uk-grid>
          <div>
            <div class="uk-card uk-card-body uk-inline border-radius-medium">
              <img src="{{ site.uploads | absolute_url }}/local-trader/local-step1.svg" alt="p2p local trader bitcoin">
              <p><strong>Step 1</strong> - Accept an offer and a secure multisig escrow contract is created</p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body uk-inline border-radius-medium">
              <p><strong>Step 2</strong> - Seller deposits Bitcoin in the escrow directly from their wallet</p>
              <img src="{{ site.uploads | absolute_url }}/local-trader/local-step2.svg" alt="p2p local trader bitcoin">
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body uk-inline border-radius-medium">
              <img src="{{ site.uploads | absolute_url }}/local-trader/local-step3.svg" alt="p2p local trader bitcoin">
              <p><strong>Step 3</strong> - Buyer pays the seller according to the agreed upon payment method</p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body uk-inline border-radius-medium">
              <p><strong>Step 4</strong> - Seller releases Bitcoin from multisig escrow directly to the buyer’s wallet</p>
              <img src="{{ site.uploads | absolute_url }}/local-trader/local-step4.svg" alt="p2p local trader bitcoin">

            </div>
          </div>    
        </div>
  </div>
</div>


<div class="uk-section">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Local Trader Demo</h1>
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/BsfZXbqVYWs?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" frameborder="0" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
      </div>
  </div>
</div>
