<div class="uk-section">
  <div class="uk-container uk-text-center uk-animation-slide-bottom-medium">
     <h1 class="uk-heading-hero">Multisig Vault</h1>
     <p class="uk-text-lead">The most secure Bitcoin technology. Multisig is like a vault, where multiple keys are needed to spend Bitcoin.<br />Recommended for cold storage and large amounts.</p>
    <div class="uk-container-medium imghere uk-padding-remove@s uk-padding-remove-bottom uk-animation-slide-bottom-medium">
      <img src="{{ site.uploads | absolute_url }}/multisig-wallet.png" alt="download bitcoin wallet for desktop">
    </div>
  </div>
</div>

<div class="uk-section-medium uk-margin-large-bottom">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Highlights</h1>
        <div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top uk-grid-small" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Easy Creation</h3>
                    <p>Total flexibility to choose the number os keys and address types.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Powerful Import</h3>
                    <p>Easily import <strong>or recover</strong> any setup. Compatible with most wallets.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Backup Keys</h3>
                    <p>Safely backup your signing keys simultaneously with all pubkeys.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Backup Watch-only</h3>
                    <p>Easily backup and spread your coordination setup (pubkeys) for better protection.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Air Gapped</h3>
                    <p>Support for PSBTs and QR codes for maximum security.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Edit Setup 🔥</h3>
                    <p>Easily change your setup to allow <strong>key rotation</strong> or <strong>fast signing</strong> for emergency situations.</p>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="uk-section-large">
  <div class="uk-container{{container}}">
    <h3 class="uk-h3 uk-text-center">The only thing between having a bitcoin and losing a bitcoin is one mistake. Multisig provides you with additional protection making it exceptionally challenging to "overcome".</h3>
  </div>
</div>

<div class="uk-section-large">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Why use a Vault</h1>
      <p>Provides better protection or safety on...</p>
        <div class="uk-grid-match uk-text-center uk-grid-small" data-uk-grid>
          <div>
            <div class="uk-card uk-card-body uk-inline reasons border-radius-medium">
              <h3 class="uk-h5 uk-margin"><span uk-icon="icon: git-fork"></span> Phishing attacks</h3>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body uk-inline reasons border-radius-medium">
              <h3 class="uk-h5 uk-margin"><span uk-icon="icon: users"></span> On and Offline Thievery</h3>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body uk-inline reasons border-radius-medium">
              <h3 class="uk-h5 uk-margin"><span uk-icon="icon: laptop"></span> Malware infection</h3>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body uk-inline reasons border-radius-medium">
              <h3 class="uk-h5 uk-margin"><span uk-icon="icon: cart"></span> Supply chain attacks</h3>
            </div>
          </div> 
          <div>
            <div class="uk-card uk-card-body uk-inline reasons border-radius-medium">

              <h3 class="uk-h5 uk-margin"><span uk-icon="icon: home"></span> An <a href="https://en.wikipedia.org/wiki/Evil_maid_attack" target="_blank">evil-maid attack</a></h3>
            </div>
          </div>  
          <div>
            <div class="uk-card uk-card-body uk-inline reasons border-radius-medium">
              <h3 class="uk-h5 uk-margin"><span uk-icon="icon: unlock"></span> Key loss</h3>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body uk-inline reasons border-radius-medium">
              <h3 class="uk-h5 uk-margin"><span uk-icon="icon: phone"></span> Device loss</h3>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-body uk-inline reasons border-radius-medium">
              <h3 class="uk-h5 uk-margin"><span uk-icon="icon: lifesaver"></span> Device malfunction</h3>
            </div>
          </div>      
        </div>
  </div>
</div>


<div class="uk-section">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Multisig Demo</h1>
      <p>In this demo of the Multisig Vaults you can see 2 BlueWallet apps signing transactions offline and airgapped.</p>
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/V7hzuerITOM?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" frameborder="0" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
      </div>
  </div>
</div>
