<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">

       
     
        <button class="uk-offcanvas-close" type="button" data-uk-close></button>
      
        <ul class="uk-nav uk-nav-primary uk-margin-top">
            {% for link in site.data.navigation_mobile %}
                {% if link.url contains 'http' %}
                    {% assign domain = '' %}
                {% else %}
                    {% assign domain = '' | relative_url %}
                {% endif %}

                {% if link.url == page.url %}
                    {% assign current = ' class="uk-active"' %}
                {% else %}
                    {% assign current = null %}
                {% endif %}

                {% if link.button %}
                    <li><div class="uk-navbar-item"><a class="uk-button uk-button-{{ link.button }}" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></div></li>
                {% else %}
                    <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                {% endif %}
                
            {% endfor %}
        </ul>

        

    </div>
</div>
