<div class="uk-section uk-padding-large uk-padding-remove-horizontal uk-padding-remove-bottom">
   <div class="uk-container">
    
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-margin-auto-vertical">

                 <p class="uk-padding uk-padding-remove-horizontal uk-text-lead uk-text-left@m uk-text-center@s"><strong>BlueWallet</strong> was forged in the ashes of the 2017 fork wars, in order to bring  a powerful and Bitcoin only wallet for the community.</p>
                
            </div>
            <div class="uk-margin-auto-vertical">
                <div class="" uk-grid>
                    <div class="uk-text-left@m uk-text-center uk-width-auto@m uk-width-1-2@s">
                      <a href="https://itunes.apple.com/app/bluewallet-bitcoin-wallet/id1376878040" target="_blank">
                        <img src="{{ site.uploads | absolute_url }}/app-store-badge-blue.svg" alt="download bitcoin wallet for ios">
                      </a>
                    </div>
                    <div class="uk-padding-remove-left@m uk-text-center uk-text-left@m uk-width-auto@m uk-width-1-2@s">
                      <a href="https://play.google.com/store/apps/details?id=io.bluewallet.bluewallet" target="_blank">
                        <img src="{{ site.uploads | absolute_url }}/play-store-badge-blue.svg" alt="download bitcoin wallet for android">
                       </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>