<div class="uk-section">
   <div class="uk-container uk-text-center uk-animation-slide-bottom-medium">
     <h1 class="uk-heading-hero">Watch-only</h1>
     <p class="uk-text-lead">Watch-only wallets allows you to keep an eye on your cold storage or paper wallet without touching your private key. Easily import your public address, xpub or ypub and watch it from your app without moving anything.</p>
    <div class="uk-container-medium imghere uk-padding-remove@s uk-padding-remove-bottom uk-animation-slide-bottom-medium">
      <img src="{{ site.uploads | absolute_url }}/watch-only-hero.png" alt="download bitcoin wallet for desktop">
    </div>
   </div>
</div>

<div class="uk-section">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Features</h1>
        <div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top uk-grid-small" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">xpub/ypub/zpub</h3>
                    <p>A x/y/zpub or master public key address can be passed to generate receiving addresses.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Public Address</h3>
                    <p>Monitor individual addresses you want to keep an eye on.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Receive</h3>
                    <p>Generate adresses and QR codes for receiving.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Offline Signing <span class="uk-label">new</span></h3>
                    <p>Send transactions by signing them offline or with another wallet.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Animated QR codes</h3>
                    <p>To facilitate the experience for big transactons.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Hardware wallets</h3>
                    <p>Support for your cold storage solution and hardware devices.</p>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container{{container}} explain">
      <h1 class="uk-h1">How to set up a watch-only wallet</h1>
      <div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top uk-grid-small" data-uk-grid>
            <div>
                <div class="uk-card uk-card-body uk-inline border-radius-medium">
                  <img src="{{ site.uploads | absolute_url }}/addwallet.png" alt="download bitcoin wallet for desktop">
                    <h3 class="uk-card-title uk-margin">Tap on add wallet icon</h3>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-inline border-radius-medium">
                  <img src="{{ site.uploads | absolute_url }}/importwallet.png" alt="download bitcoin wallet for desktop">
                    <h3 class="uk-card-title uk-margin">Tap "Import wallet" option</h3>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-inline border-radius-medium">
                  <img src="{{ site.uploads | absolute_url }}/importok.png" alt="download bitcoin wallet for desktop">
                    <h3 class="uk-card-title uk-margin">Input or scan a QR code</h3>
                </div>
            </div>
      </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Hardware Wallet support</h1>
      <p>Use your wallets with ease on your mobile app while leaving your keys in cold storage. Ability to create, send and receive transactions.</p>
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/7pBhTRiwQL4?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" frameborder="0" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
      </div>
  </div>
</div>
