<div class="uk-section uk-padding-remove-top section-hero uk-position-relative uk-scrollspy-inview uk-animation-slide-bottom-medium">
   <div class="uk-container">

      <div class="uk-text-center uk-grid-match" uk-grid>

          <div class="uk-width-1-2@m uk-grid-match">
            <div class="uk-card uk-card-small uk-grid-match">
              <div class="uk-margin-auto-vertical">
                <h1 class="uk-heading-primary uk-text-left@m uk-text-center">Watch App</h1>
                  <div class="uk-grid-match" uk-grid>
                    <div class="uk-text-left@m uk-width-auto@m uk-width-1-2@s">
                      <p class="uk-padding uk-padding-remove-horizontal uk-padding-remove-top uk-text-lead uk-text-left@m uk-text-center@s">A beautifully designed apple watch app for Bitcoin.<br />A first of its kind, by BlueWallet.</p>
                      <a href="https://itunes.apple.com/app/bluewallet-bitcoin-wallet/id1376878040" target="_blank">
                        <img src="{{ site.uploads | absolute_url }}/app-store-badge-blue.svg" alt="download bitcoin wallet for ios">
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-small merda">
              <img class="localtrader" src="{{ site.uploads | absolute_url }}/watch-app/watch-head.png" alt="apple watch app for bitcoin">
            </div>
          </div>
      </div>
   </div>
</div>

<div class="uk-section-medium uk-margin-large-bottom">
  <div class="uk-container{{container}}">
      <h1 class="uk-h1">Highlights</h1>
        <div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top uk-grid-small" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Your Wallets</h3>
                    <p>Individual wallet details and basic functionality.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Receive/Send</h3>
                    <p>Receive or Send payments directly  on your wirst.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-medium border-light">
                    <h3 class="uk-card-title uk-margin">Transactions</h3>
                    <p>See latest transactions from your wallets.</p>
                </div>
            </div>
        </div>
  </div>
</div>
<div class="uk-section-large uk-scrollspy-inview uk-animation-slide-bottom-medium">
  <div class="uk-container{{container}} watch-demo uk-text-center">
     <img src="{{ site.uploads | absolute_url }}/watch-app/watch-demo.png" alt="apple watch download bitcoin wallet for ios">
    </div>
  </div>