body {
	margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: #fff;
}
a {
	text-decoration: none
}
.grid-container {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "appicon apptext";
  padding: 16px 0;
  margin: 0 16px;
  border-bottom: 1px solid #EEF0F4;
}
.appicon { 
	grid-area: appicon; 
}
.apptext { 
	grid-area: apptext;
	padding: 0 0 0 8px;
}
.apptext h2 { 
	color: #0C2550;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}
.apptext p { 
	color: #9AA0AA;
	font-size: 12px;
	margin: 0px;
}
.appicon img { 
	width: 48px; 
}
.highlight {
  background: #E8F2FD;
}
.highlight small {
  display: block;
  color: #2F5FB3;
  font-weight: bold;
}
.highlight .high {
  padding-bottom: 0px;
  margin-bottom: 0px;
}