body {
	margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0C2550;
    text-align: left;
    background: #fff;
}
a {
	text-decoration: none
}
.section {
  margin: 24px 16px 0px 16px;
}
.section.first {
  margin-top: 0px;
}
.section h3 {
  margin: 0px;
  font-size: 16px;
}
.grid-container {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "appicon apptext";
  padding: 16px 0;
  margin: 0 16px;
  border-bottom: 1px solid #EEF0F4;
}
.grid-container.tippin{
  border-bottom: 0px solid transparent;
}
.appicon { 
	grid-area: appicon; 
}
.apptext { 
	grid-area: apptext;
	padding: 0 0 0 8px;
  position: relative;
}
.apptext h2 { 
	color: #0C2550;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}
.apptext p { 
	color: #9AA0AA;
	font-size: 12px;
	margin: 0px;
}
.appicon img { 
	width: 48px; 
}
.highlight {
  background: url(img/highlight.png) no-repeat center;
  height: 228px;
  background-size: cover;
  margin: 16px 16px 24px 16px;
  border-radius: 12px;
  position: relative;
}
.highlight .content {
  background: #fff;
  border-radius: 6px;
  margin: 0 16px 16px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  padding: 12px 16px;
}
.highlight .content h2 {
  color: #0C2550;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
.highlight .content p{
  color: #81868E;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.new {
  width: 12px;
  height: 12px;
  background: #68BBE1;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
}